body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
* {
    box-sizing: border-box;
}
/* ----------- */
.loginWarpper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loginBox {
    max-width: 450px;
    width: 100%;
    padding:50px 25px 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);  
    background-color: #333;
    text-align: center;
    border-radius: 10px;
}
.loginBox  img{
    margin-bottom: 25px;
}
.loginBox input {
    line-height: 45px;
    border: 1px #ddd solid;
    box-shadow: none;
    font-size: 14px;
    background: #fff;
    padding: 0 15px;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.loginBox input:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(113, 167, 63, 0.5);
    outline: none;
}
.loginBox button {
    background-color: #71a73f;
    color: #fff;
    line-height: 45px;
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 600;
}

/* ------------------------------- */
header {
	display: flex;
	background-color: #f2f2f2;
	padding: 15px 30px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
	justify-content: space-between;
	align-items: center;
    margin-bottom: 50px;
}
.userBox {
	display: flex;
	align-items: center;
}
.logOut img{
    width: 35px;
    margin-left: 10px;
}
.listBox {
	max-width: 600px;
	margin: 0 auto 25px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	position: relative;
}
.listBox img{
    width: 150px;
    margin-right: 15px;
}
.listContent h3 img{
    width: 25px;
    margin-right: 5px;
}
.listBox a{
    color: #111;
    text-decoration: none;
}
.listBox  a .listItems {
	display: flex;
	align-items: center;
	padding-right: 60px;
}
.listContent h2 {
	margin:0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.listContent h3 {
	margin: 0;
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #666;
}
img.arrowIcon {
	width: 30px;
	margin: 0;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

/* ------------------------ */

.singleList.listBox  a .listItems {
	display: block;
	align-items: unset;
	padding: 0;
}
.singleList.listBox .listItems > img{
    width: 100%;
    margin: 0 0 15px;
}
.singleList.listBox .listContent h2 {
	margin:0 0 10px;
    text-transform: uppercase;
    font-size: 26px;
}
.singleList.listBox p { 
    font-size: 14px;
    color: #999;
    line-height: 23px;
    text-align: justify;
}
.singleList .backToPage {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
}
.singleList .backToPage img{
    width: 15px;
    margin-right: 5px;
}